<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1-0, user-scalable=no">
  <title>Login</title>
</head>

<body>

<header>
  <img src="../../../assets/images/chat.png" alt="chat icon" class="center">
</header>

<h1 class="center">Please sign in</h1>

<p class="errorHighlight" *ngIf="authFailed">Authentication failed</p>
<form >
  <fieldset>
    <legend>Login</legend>
    <label for="username">Username
      <input (keyup)="onInput()" [(ngModel)]="usernameInput" name="username" required placeholder="Username" id="username" />
    </label><br>
    <label for="password">Password
      <input (keyup)="onInput()" [(ngModel)]="passwordInput" name="password" required type="password" placeholder="Password" id="password" />
    </label><br>
  </fieldset>
  <div class="center">
    <a [routerLink]="['/register']">
      <button type="button">Register</button>
    </a>
    <button (click)="onLogin()" type="submit" class="blueButton">Login</button>

  </div>
</form>
</body>

</html>

