<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1-0, user-scalable=no">
  <title>Register</title>
</head>

<body>
<img src="../../../assets/images/user.png" alt="user image" class="center">
<h1 class="center">Register yourself</h1>

<form id="form" action="friends.html" method="post">
  <fieldset>
    <legend>Register</legend>
    <label for="uname">Username</label>
    <input (keyup)="checkUsername()" [(ngModel)]="usernameInputString" required id="uname" type="text" name="uname" placeholder="Username">
    <p class="errorHighlight" *ngIf="isUsernameTooShort">Username is too short</p>
    <p class="errorHighlight" *ngIf="usernameAlreadyUsed">Username already used!</p>
    <p>
      <label>Password</label>
      <input required id="pwd" [(ngModel)]="firstPasswordInputString" (keyup)="checkFirstPassword()" type="password" name="pwd" placeholder="Password">
    </p>
    <p class="errorHighlight" *ngIf="isPasswordToShort">Password too short (min. 8 chars)</p>
    <p>
      <label for="confirm-pwd">Confirm Password</label>
      <input required id="confirm-pwd" (keyup)="checkSecondPassword()" [(ngModel)]="secondPasswordInputString" type="password" name="confirm-pwd" placeholder="Confirm Password">
    </p>
    <p class="errorHighlight" *ngIf="!doPasswordMatch">Passwords do not match!</p>
    <br>
  </fieldset>
  <div class="center">
      <button type="button" >Cancel</button>
    <button [disabled]="!doPasswordMatch || isPasswordToShort || usernameAlreadyUsed" type="button" (click)="createAccount()" class="blueButton">Create Account</button>
  </div>
</form>
</body>

</html>

