<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1-0, user-scalable=no">
        <title>Chat</title>
        <link rel="stylesheet" href="chat.component.css">
    </head>
    <body>
        <h1>Chat with Tom</h1>

        <a [routerLink]="['/friends']">&lt; Back</a> | <a [routerLink]="['/profile']">Profile</a> | <a [routerLink]="['/friends']" class="remove">Remove Friend</a>
        
        <hr>

        <div id="chatbox" class="comBox" #messagesDiv>
            <div *ngFor="let message of messages" class="flex">
                <div>{{message.from}}: {{message.msg}}</div>
                <div class="time">{{message.time}}</div>
            </div>
        </div>

        <hr> 

        <div class="flex">
            <input id="message" class="longType" name="message" type="text" placeholder="New Message">
            <button id="sendMessage" class="longButton">Send</button>
        </div>
    </body>
</html>