<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1-0, user-scalable=no">
        <title>Chat</title>
        <link rel="stylesheet" href="chat.component.css">
    </head>
    <body>
        <h1>{{username}}'s chat with {{recipient}}</h1>

        <a [routerLink]="['/friends']">&lt; Back</a> | <a [routerLink]="['/profile']">Profile</a>
        | <a (click)="removeFriend()" class="remove">Remove Friend</a>
        
        <hr>

        <div id="chatbox" class="comBox" #messagesDiv (scroll)="setDisableScroll(true)" >
            <ng-template [ngIf]="sameLine">
                <div *ngFor="let message of messages" class="flex">
                    <div>{{message.from}}: {{message.msg}}</div>
                    <div class="time">{{message.time | date:'dd.MM.yy hh:mm:ss'}}</div>
                </div>
            </ng-template>
            <ng-template [ngIf]="!sameLine">
                <div *ngFor="let message of messages" class="flex">
                    <ul class="seperatedMessage">{{message.from}}:
                        <li>{{message.msg}}</li>
                    </ul>
                    <div class="time">{{message.time | date:'dd.MM.yy hh:mm:ss'}}</div>
                </div>
            </ng-template>
        </div>

        <hr> 

        <div class="flex">
            <input (keyup.enter)="sendMessage()" [(ngModel)]="inputMessage" id="message" class="longType" name="message" type="text" placeholder="New Message">
            <button (click)="sendMessage()" id="sendMessage" class="longButton">Send</button>
        </div>
    </body>
</html>