<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1-0, user-scalable=no">
    <title>Friends</title>
    <link rel="stylesheet" href="friends.component.css">
</head>

<body>
    <h1>Friends</h1>
    <p>
        <a [routerLink]="['/logout']">&lt; Logout</a> | <a [routerLink]="['/settings']">Settings</a>
    </p>
    <hr>
    <div class="comBox">
        <ul>
            <div *ngFor="let friend of friends">
                <ng-template [ngIf]="friend.status !== 'requested'">
                    <li class="flex">
                        <a (click)="openChat(friend.username)" [routerLink]="['/chat']">{{friend.username}}</a>
                        <div>{{friend.unreadMessages}}</div>
                    </li>
                </ng-template>
            </div>
        </ul>
    </div>
    <hr>
    <h2>New Requests</h2>
    <ol>
        <div *ngFor="let friend of friends">
            <ng-template [ngIf]="friend.status === 'requested'">
                <li class="request">
                    <a [routerLink]="['/profile']">Friend request from <b>{{friend.username}}</b></a>
                    <button (click)="acceptRequest(friend.username)" class="request">Accept</button>
                    <button (click)="declineRequest(friend.username)" class="request">Decline</button>
                </li>
            </ng-template>
        </div>
    </ol>
    <hr>
    <div class="flex">
        <input (keyup)="isValidInput()" (keyup.enter)="addFriend()" [(ngModel)]="addedFriendName" id="friendlistInput" placeholder="Add Friend to List"class="longType">
        <button (click)="addFriend()" id="addFriendButton" type="submit" class="longButton">Add</button>
    </div>
    <p class="errorHighlight" *ngIf="(addedFriendName !== '') && !userExists && !isSelf">User does not exist!</p>
    <p class="errorHighlight" *ngIf="isSelf">Cannot add yourself!</p>
    <p class="errorHighlight" *ngIf="isFriend">User is already your friend!</p>
</body>

</html>