<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1-0, user-scalable=no">
    <title>Profile</title>
    <link rel="stylesheet" href="profile.component.css">
</head>

<body>
    <h1>Profile of {{username}}</h1>

    <a [routerLink]="'/chat'">&lt; Back to chat</a>
    <label> | </label>
    <a [routerLink]="'/friends'" class="remove" (click)="removeFriend()">Remove Friend</a>
    <div class="flex">
        <img class="profile" src="../../../assets/images/profile.png" alt="profile image">
        <div class="comBox profile">
            <p [(ngModel)]="description">
                {{description}}
            </p>
            <p *ngIf="!description">
                Hi, my name is {{username}}!
            </p>

            <dl>
                <dt>Coffee or Tea?</dt>
                <dd>{{coffeOrTea}}</dd>
                <dt>Name</dt>
                <dd>{{firstName}} {{lastName}}</dd>
                <dd *ngIf="!firstName">{{username}}</dd>
            </dl>
        </div>
    </div>
</body>

</html>